<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
<link rel="stylesheet" type="text/css" href="../../assets/semantic/semantic.css">
<link rel="stylesheet" type="text/css" href="../../assets/semantic/semantic.min.css">
<script type="text/javascript" src="../../assets/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../assets/semantic/semantic.js"></script>
<script type="text/javascript" src="../../assets/semantic/semantic.min.js"</script>
<script type="text/javascript" src="../../assets/js/main.js"></script>